@use "../global" as *;

.section:has(.test__title) {
  padding-top: 40px;
  padding-bottom: 40px;
}

.test__title {
  font-size: 20px;

  @media screen and (min-width: $screen-md) {
    font-size: 30px;
  }
}

.test__text {
  font-size: 15px;
  line-height: 1.3em;
  text-align: justify;

  @media screen and (min-width: $screen-md) {
    font-size: 20px;
  }
}

.test__images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
